:root {
  
        --oren: #e0700e;
        --orenchegg: #e16811;
        --orentua: #ab4802;
         /* Menggunakan nama yang berbeda untuk nilai blue */
  
     /* Menggunakan nama yang berbeda untuk nilai blue */
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}
#bactotop{
    z-index: 99;
    bottom: 50px;
    right:30px;
    background-color: #ab4802;
}

.navbar-nav a {
    text-decoration: none;
    color:var(--orentua) !important;
    font-weight: bold;
    border-bottom: 2px solid var(--orenchegg); /* Menambah efek garis bawah saat dihover */
     /* Menghilangkan garis bawah saat dihover */
}
#akumaukursus-section .container {
    max-width: 500px;
    z-index: 99;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--orentua);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Menyesuaikan video dengan ukuran layar tanpa merubah rasio aspek */
    z-index: -1;
}
h2 {
    text-align: center;
    color: white;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: black;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("arrow.png") no-repeat right;
    background-size: 20px;
    padding-right: 30px;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--orenchegg);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: var(--orenchegg);
}

